@page "/add"
@using BlazorStudents.Models
@inject HttpClient httpClient
@inject NavigationManager NavManager
<PageTitle>Add students</PageTitle>
<h1>Add Student</h1>
<EditForm Model="@student" OnValidSubmit="@HandleAdd">
<DataAnnotationsValidator />
<ValidationSummary />
<InputText placeholder="First Name" id="firstName" @bind-Value="@student.FirstName" />
<br />
<InputText placeholder="Last Name" id="lastName" @bind-Value="@student.LastName" />

<br />
<InputText placeholder="School" id="school" @bind-Value="@student.School" />
<br />
<button type="submit">Submit</button>
</EditForm>
@code {
private Student student = new Student();
private async void HandleAdd()
{
string endpoint = $"{Constant.BASE_URL}api/students";

await httpClient.PostAsJsonAsync(endpoint, student);
// redirect to students page
NavManager.NavigateTo("/students");
}}
