@page "/update/{id}"
@using BlazorStudents.Models
@inject HttpClient httpClient
@inject NavigationManager NavManager
<p>Student with ID == @Id</p>
@if (student!=null ) // Update
{
<h1>UPDATE</h1>
<EditForm Model="@student" OnValidSubmit="@HandleUpdate">
<DataAnnotationsValidator />
<ValidationSummary />
<InputText placeholder="First Name" id="firstName" @bind-Value="@student!.FirstName" />
<br />
<InputText placeholder="Last Name" id="lastName" @bind-Value="@student.LastName"
/>
<br />
<InputText placeholder="School" id="school" @bind-Value="@student.School" />
<br />
<button type="submit" class="btn btn-success">Submit</button>
@code {
private async void HandleUpdate()
{
string endpoint = $"{Constant.BASE_URL}api/students/{student!.StudentId}";
await httpClient.PutAsJsonAsync(endpoint, student);
NavManager.NavigateTo("/students");
}
}
</EditForm>
}


@code {
[Parameter]
public string? Id { get; set; }

Student? student;
protected override async Task OnInitializedAsync()
{
var url = $"{Constant.BASE_URL}api/students/{Id}";
student = await httpClient.GetFromJsonAsync<Student>(url);
}
}

